<script>
	var friends_list = <%= @friend_list_json.html_safe %>;
</script>

<%= render "small_organization_banner" %>

<div id="right_sidebar" class="shown_for_now">
	<div class="block">
		<div class="heading">
			Similar Trinkons
		</div>
		<ul class="activity_stream">

			<% @related_trinkons.each do |gift_template| %>
				<li class="left_aligned">
					<div class="image no_border">
						<%= link_to image_tag(gift_template.cloudfront_url(:thumb)),:action => "give_gift", :gift_template_id => gift_template.id %>
					</div>
					<div class="text_stream">
						<%= link_to gift_template.title, :action => "give_gift", :gift_template_id => gift_template.id %>
					</div>
				</li>
			<% end %>

		</ul>
	</div>
</div>

<div id="left_content" class="shortened_for_now">

	<div id="shop_header">
		<div class="logo gift"><%= image_tag @gift_template.cloudfront_url(:large) %></div>
		<div class="text_block">
			<h1><%= @organization.display_name %> <%= @gift_template.title %></h1>
			<% if (@organization.display_type != "affiliate") %>
			    <p><%= auto_link(@gift_template.description, :html => { :target => '_blank' }) %></p>
			<% else %>
			     <p><%= link_to "Buy the real thing ", @gift_template.product_link, :target => "_blank" %>
				from fanatics.com now.  </p>	
			     <p>Or, share the free icon on Facebook using the form below. </p>
			<% end %>
		</div>
	</div>
	<div style="clear:left"></div>
	<h2>Pick recipient, then add optional message:</h2>
	
	<div class="give_gift clearfix">
		<p></p>
			<div class="left">		
				<label id="add_friends_label">Pick recipient:</label>
				<input type="text" id="find_friends" class="ff-tisa" />
				<ul id="send_list">
				</ul>
			</div>
			<div class="clear:both"></div>
			<div>   
				<div class="left">
				    <input type="submit" onclick="showwaiting();send();"  value="Add Message then Share" id="<%= @gift_template.id %>" class="ff-tisa send_gift" />  
				</div>
				<div id="waiting" style="display: none; " ><%= image_tag "ajax-loader.gif" %></div>
			</div>
	</div>
</div>

<script>
	function showwaiting() {
		document.getElementById('waiting').style.display = "block";
	}
	function hidewaiting() {
		document.getElementById('waiting').style.display = "none";
	}
	function send() {
		var giftId, recipient, gift_state, redirect_uri, isPrivate, formattedURL;
		giftId = <%= @gift_template.id %>;
		recipient = window.recipients.join();
		if (recipient.length < 1) {
			document.getElementById("find_friends").value = "You must select a recipient.";
			hidewaiting();
			return;
		}
		
		isPrivate = false;
		//isPrivate = document.getElementById("is_private").checked;
		
		//Add the recipient to the gift state and whether sent privately, for later processing --PE 1/3/13
		gift_state = JSON.parse(decodeURI('<%= @gift_state %>'));
		gift_state['recipient'] = recipient.toString();
		gift_state['is_private'] = isPrivate ? "1" : "0";
		JSON_gift_state = encodeURI(JSON.stringify(gift_state));
		redirect_uri = '<%=raw @redirect_uri %>' + JSON_gift_state;

		if (isPrivate) {
            formattedURL = "https://www.facebook.com/dialog/send?";
        }
        else {
            formattedURL = "https://www.facebook.com/dialog/feed?";
        }

		formattedURL +=	"app_id=<%= @app_id %>& \
						link=<%=raw @link %>& \
						picture=<%= @gift_template.photo %>& \
						name=<%= @postTitle %>& \
						caption=Click image to post free icons via Trinkon.  & \
						description=Share icons for schools, teams, holidays, occassions and more! & \
						actions=[{name: 'Share Free Themed Icons', link: 'http://apps.facebook.com/trinkon/'}]& \
						redirect_uri=" + redirect_uri;
                        
        formattedURL = formattedURL + "&to=" + recipient.toString();
		top.window.location = formattedURL;
	}
</script>

